/* Style the list */
ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    width: 500px;
}

/* Display list items side by side */
ol.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ol.breadcrumb li+li:before {
    padding: 8px;
    color: darkgray;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ol.breadcrumb li a {
    color: #B5DC10;
    font-size: 18px;
    text-decoration: none;
}

ol.breadcrumb div button {
    background-color: #B5DC10;
    margin-left: 700px;
    border-style: none;
}

ol.breadcrumb div button:hover {
    background-color: #ffffff;
    color: #B5DC10;
    margin-left: 700px;
    border-style: solid;
    border-width: 1px;
    border-color: #B5DC10;
}


/* Add a color on mouse-over */
ol.breadcrumb li a:hover {
    color: #B5DC10;
    font-weight: bold;
    text-decoration: none;
}

.breadcrumb >.active {
    color: darkgrey;
}

.btn btn-secondary{
    margin-left: 800px;
    background-color: #B5DC10;
    border-color: #B5DC10;
    font-weight: bold;
    color: white;
}

.btn-logout:hover,
.btn-logout:active,
.btn-logout:visited,
.btn-logout:checked{
    background-color: white !important;
    color: #B5DC10;
    border-color: #B5DC10;
    outline: none !important;
    border-width: 2px;
    font-weight: bold;
}

section {
    white-space: nowrap;
}

.container-breadcrumb{
    width: 50%;
    display: inline-block;
}
.container-button{
    width: 50%;
    text-align: right;
    display: inline-block;
}

.section-outside{
    white-space: nowrap;
    width: 84%;
    height: 40px;
    padding-top: 10px;
    padding-left: 280px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 50px;
    text-align: center;
    background-color: #DDDDDD;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-top: none;
    border-bottom: none;
    border-left:none;
    color: dimgrey;
}


.column:hover {
    background-color: #EEEEEE;
    color: #B5DC10;
    border-style: solid;
    border-width: thin;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
